<% wrap_layout :layout do %>
  <section id="splash">
    <div class="row">
      <div class="col-left">
        <p>
          A summary of Molly's most notable projects
        </p>
      </div>
      <div class="col-right" style="line-height: 0;">
      </div>
    </div>
  </section>

  <section id="content">
    <div class="row">
      <div class="col-left">
        <% if current_page.data.id %>
          <a data-fancybox="gallery" href="<%= "/assets/images/projects/photo/#{current_page.data.id}/xl_original.jpg" %>" title="Click to Enlarge">
            <%= image_tag "projects/photo/#{current_page.data.id}/m_original.jpg" %>
          </a>
          <a data-fancybox="gallery" href="<%= "/assets/images/projects/texture/#{current_page.data.id}/xl_original.jpg" %>" style="display: none;">
            <%= image_tag "projects/texture/#{current_page.data.id}/s_original.jpg" %>
          </a>
        <% else %>

  <div id="rev_slider" class="rev_slider" style="margin:auto;" data-version="5.4.8">
    <div class="tp-bannertimer tp-top"></div>

    <ul>
      <% [1,4,6,8,13,15].each do |id| %>
        <li data-transition="fade" data-link="<%= "/projects/#{id}" %>">
          <%= image_tag "projects/texture/#{id}/m_original.jpg", class: 'rev-slidebg' %>
        </li>
      <% end %>
    </ul>

  </div> <!-- End #rev_slider -->

  <script type="text/javascript">
    var tpj = jQuery;
    var revapi;
    tpj(document).ready(function() {
      revapi = tpj('#rev_slider').show().revolution({
        sliderType:'standard',
        delay:10000,
        navigation: {
          arrows: {
            enable:true,
            left : {
              container:'slider',
              h_offset:0,
              v_offset:0
            },
            right : {
              container:'slider',
              h_offset:0,
              v_offset:0
            }
          },
          bullets: {
            enable:false,
            style:'custom',
            tmp:'',
            hide_onleave:true,
            hide_onmobile:true,
            direction:'horizontal',
            h_align:'right',
            v_align:'bottom',
            h_offset:0,
            v_offset:-20,
            space:10
          }
        },
        spinner:'off'
      });
    });
  </script>

        <% end %>
      </div>
      <div class="col-right">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
