<% wrap_layout :layout do %>
  <section id="splash">
    <div class="row">
      <div class="col-left">
        <p>
          A summary of Molly's most notable projects
        </p>
      </div>
      <div class="col-right" style="line-height: 0;">
      </div>
    </div>
  </section>

  <section id="content">
    <div class="row">
      <div class="col-left">
        <% if current_page.data.id %>
          <a data-fancybox="gallery" href="<%= "/assets/images/projects/photo/#{current_page.data.id}/xl_original.jpg" %>" title="Click to Enlarge">
            <%= image_tag "projects/photo/#{current_page.data.id}/m_original.jpg" %>
          </a>
          <a data-fancybox="gallery" href="<%= "/assets/images/projects/texture/#{current_page.data.id}/xl_original.jpg" %>" style="display: none;">
            <%= image_tag "projects/texture/#{current_page.data.id}/s_original.jpg" %>
          </a>
        <% else %>
          <% id = [1,4,6,7,8,11,13,14,15].sample %>
          <%= image_tag "projects/texture/#{id}/m_original.jpg" %>
        <% end %>
      </div>
      <div class="col-right">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
